In [2]:
# SQLAlchemy
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import inspect
# Pandas
import pandas as pd
import numpy as np
import psycopg2 
from config import db_password

ModuleNotFoundError: No module named 'config'

In [ ]:
# Path to sqlite
database_path = "/Users/rfnichol/OneDrive - COOPER TIRE & RUBBER COMPANY/Personal/Data Analytics Boot Camp/Unit_3/Census_Data.sqlite"

In [ ]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [ ]:
print(engine)

In [ ]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Using the inspector to print the column names within the 'Census_Data' table and its types
columns = inspector.get_columns('Census_Data')
for column in columns:
    print(column)

In [ ]:
# Get the column names for the table
column_names = inspector.get_columns('Census_Data')
for column_name in column_names:
    print(column_name["name"])

In [ ]:
# Query All Records in the the Database
data = engine.execute("SELECT * FROM Census_Data")

for record in data:
    print(record)

In [ ]:
# Query Single Record in the the Database
data = engine.execute("SELECT CityState FROM Census_Data WHERE Population >= 1000000;")
for record in data:
    print(record)

In [ ]:
# Query Single Record in the the Database
data = engine.execute("SELECT [Household Income] FROM Census_Data;")
for record in data:
    print(record)

### Read SQLite file into Pandas DataFrame

In [ ]:
# Make a connection to the SQL database
conn = engine.connect()

In [ ]:
# Query All Records in the the Database
census_data_df = pd.read_sql("SELECT * FROM Census_Data", conn)
census_data_df.head()

In [ ]:
# Get the CityState where the Household Income is equal to or greater than $100,000. 
census_data_df.loc[census_data_df["Hispanic Population"]>= 500000]['CityState'].values

In [ ]:
census_data_df.describe()